services:
  app:
    build:
      context: .
      target: build
    command: 'yarn test'
    depends_on:
      - kafkas
      - schema-registry
    environment:
      - TS_NODE_FILES=true
      - NODE_ENV=development
      - NODE_CONFIG_ENV=development
      - HOSTNAME=event-streamer
    volumes:
      - '.:/code'
      - /code/node_modules
  kafkas:
    image: spotify/kafka
    hostname: kafka
    expose:
      - "9092"
      - "2181"
    ports:
      - '9092:9092'
      - '2181:2181'
  schema-registry:
    image: confluentinc/cp-schema-registry:7.6.0
    hostname: schema-registry
    container_name: schema-registry
    ports:
      - '8081:8081'
    environment:
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: 'PLAINTEXT://kafka:9092'
      SCHEMA_REGISTRY_HOST_NAME: 'schema-registry'
      SCHEMA_REGISTRY_LISTENERS: 'http://0.0.0.0:8081'
    depends_on:
      - kafkas
